
.dtable {
    width: 100%;
    display: table;
    background-color: #F0F8FF;
}

.imgthumb{
    width: 50px;
    height: 50px;
}

.d_cell {
    padding: 15px;
    height: 120px;
    width: 40%;
    display: table-cell;
}

html {background-color:  #F0F8FF;}

tbody {
    background-color:  #F0F8FF;
}

h1 {
    color: black;
    text-align: Center;
    background-color:  #F0F8FF;
}

h2 {
    color: black;
    text-align: Right;
    background-color:  #F0F8FF;
}

p {
    font-family: verdana;
    font-size: 20px;
}

table, td {
   border: 1px solid black;
}