<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5" charset="UTF-8">
    <title>Understanding Your Image By Artificial Intelligence</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main_style.css')}}">
    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/Galvanize.png"
         width="120" ALIGN="Left">
    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/app_pic_ec2.png"
                        width="155" ALIGN="Left" hspace="20">
</head>

<body>
    <h1>Understanding Your Image By Artificial Intelligence</h1>
    <h2 aligh="Right"> --Demonstration For Jingbo Liu's Capstone Project </h2>

    <div class="dtable">
        <div style="display: table-row;">
            <div class="d_cell">


                <a href="https://hszhao.github.io/projects/pspnet/index.html" align="Center">
                    <center>
                        <font size="4" >
                            <strong>Neural Network Structure For This Project (Hengshuang Zhao et al.)
                            </strong>
                        </font>
                    </center>
                </a>
                <p>       </p>
                <center>
                    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/pspnet.png"
                    width="1000" ALIGN="Center">
                </center>
                <p>         </p>
                <p>         </p>
                <form action="{{ url_for('run') }}" method="post" >
                    <p>
                        <center>
                            <font size="5" >
                                <strong>Have A Taste of This AI with Your Own Image</strong>
                            </font>
                        </center>
                    </p>
                    <p>
                    <p>
                    <strong> Select a Image </strong>
                    </p>
                    <button style="height:50px;width:60px" type="run" class="btn btn-default">Run</button>
                    <table>
                        <tbody>
                            <thead>
                                <th><input checked="checked" name="answer" type="radio" value="galvanize-1.jpg" /> Galvanize Denver </th>
                                <th><input name="answer" type="radio" value="rice_university.jpg" /> Rice Univeristy</th>
                                <th><input name="answer" type="radio" value="sichuan_neijiang_street.jpg" /> China Sichuan Street</th>
                                <th><input name="answer" type="radio" value="uh_building.jpg" /> UH Campus</th>
                            </thead>
                            <tr>
                                <td>  <img src="/static/galvanize-1.jpg" width="350">  </td>
                                <td>  <img src="/static/rice_university.jpg" width="350">  </td>
                                <td>  <img src="/static/sichuan_neijiang_street.jpg" width="350">  </td>
                                <td>  <img src="/static/uh_building.jpg" width="350">  </td>
                            </tr>
                        </tbody>
                    </table>

                    <p> <strong> Test your own image with url</strong> </p>

                    <tr>
                        <td><strong>URL:</strong>
                        </td>
                        <td>
                            <button style="height:50px;width:60px" type="run" class="btn btn-default">Run</button>
                        </td>
                    </tr>
                    <td>
                            <input id="url" name="url" style="width:200px;" value="http://" type="text">
                    </td>

                </form>
            </div>
        </div>
    </div>
    <div class="dtable">
            {% if data is not none %}
            <center>
                {% for pic in data %}
                <img src={{pic}} width="500" ALIGN="Center">
                {% endfor %}
            </center>
             {% endif %}
    </div>
</body>
</html>
