<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Understanding Your Image By Artificial Intelligence</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main_style.css')}}">
    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/Galvanize.png"
         width="120" ALIGN="Left">
    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/app_pic_ec2.png"
                        width="155" ALIGN="Left" hspace="20">
</head>

<body>
    <h1>Understanding Your Image By Artificial Intelligence</h1>
    <h2 aligh="Right"> --Demonstration For Jingbo Liu's Capstone Project </h2>

    <div class="dtable">
        <div style="display: table-row;">
            <div class="d_cell">


                <a href="https://hszhao.github.io/projects/pspnet/index.html" align="Center">
                    <center>
                        <font size="4" >
                            <strong>Neural Network Structure For This Project (Hengshuang Zhao et al.)
                            </strong>
                        </font>
                    </center>
                </a>
                <p>       </p>
                <center>
                    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/pspnet.png"
                    width="1000" ALIGN="Center">
                </center>
                <p>       </p>
                <p>       </p>
                <a href="https://github.com/HoustonJ2013/Capstone_DL_Object_detection" align="Center">
                    <center>
                        <font size="4" >
                            <strong>Example Prediction and Jingbo's Project Repo
                            </strong>
                        </font>
                    </center>
                </a>
                <p>        </p>
                <center>
                    <img src="https://raw.githubusercontent.com/HoustonJ2013/Capstone_DL_Object_detection/master/pics/presentation_1552.jpg"
                    width="600" ALIGN="Center">
                </center>



                <form action="{{ url_for('run') }}" method="post" >
                    <p>
                        <center>
                            <font size="5" >
                                <strong>Have A Taste of This AI with Your Own Image</strong>
                            </font>
                        </center>
                    </p>
                    <p>
                        Step 1. Quality and Run Time: Trade run time for Quality )
                    </p>
                        <select name="Prediction Options" id="Models">
                            <option selected="selected" value="Basic">Basic </option>
                            <option>Intermediate </option>
                            <option>Premium</option>
                        </select>
                    <button type="submit" class="btn btn-default">Run</button>
                    <p>
                        Step 2. Select a Image/upload your own Image
                    </p>
                    <p>  Click One </p>
                    <table>
                        <tbody>
                            <thead>
                                <th><input checked="checked" name="answer" type="radio" value="galvanize-1.jpg" /> Galvanize Denver </th>
                                <th><input name="answer" type="radio" value="rice_university.jpg" /> Rice Univeristy</th>
                                <th><input name="answer" type="radio" value="uh_women_valleyball.jpg" /> UH Women Volleyball</th>
                                <th><input name="answer" type="radio" value="pic4" /> Pic 4</th>
                            </thead>
                            <tr>
                                <td>  <img src="/static/galvanize-1.jpg" width="300">  </td>
                                <td>  <img src="/static/rice_university.jpg" width="300">  </td>
                                <td>  <img src="/static/uh_women_valleyball.jpg" width="300">  </td>
                                <td>  <img src="http://scenesegmentation.csail.mit.edu/demo/4.jpg" width="300">  </td>
                            </tr>
                        </tbody>
                    </table>

                    <button type="run" class="btn btn-default">Run</button>
                </form>
            </div>
        </div>
    </div>
    <div class="dtable">
            {% if data is not none %}
            <center>
                {% for pic in data %}
                <img src={{pic}} width="800" ALIGN="Center">
                {% endfor %}
            </center>
             {% endif %}
    </div>
</body>
</html>
